<!-- <div *ngFor="let story of storyService.getStories() | async">
{{story.id}}
</div> -->

<div *ngIf = "storyList">
    <div *ngFor="let story of storyList;let i =index">
        <p><b>{{i+1}}. </b> {{story.title}} <br>
             {{story.totalPoints}} points by {{story.authorName}} posted on {{story.date}} | {{story.commentsId.length}} comments 
        </p>
        <button (click)="receiveComments(story)">Show Comments</button> 
    </div>
</div>

<!-- <div *ngIf = "storyList">
    <div *ngFor="let story$ of storyList;let i =index">
        <p><b>{{i+1}}. </b> {{(story$ | async)?.title}} <br>
             {{story.totalPoints}} points by {{story.authorName}} posted on {{story.date}} | {{story.commentsID.length}} comments 
        </p>
         <button (click)="receiveComments(story)">Show Comments</button> 
    </div>
</div>
 <button (click)="receiveStories()">Click me</button> 
<button (click)="receiveComments()">Click me</button> -->